@font-face {
    font-family: JuliaMono;
    font-weight: 300;
    font-style: normal;
    src: local("JuliaMono"), url("/julia-workshop/assets/JuliaMono/JuliaMono-Light.woff2") format("woff2");
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: JuliaMono;
    font-weight: 400;
    font-style: normal;
    src: local("JuliaMono"), url("/julia-workshop/assets/JuliaMono/JuliaMono-Regular.woff2") format("woff2");
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: JuliaMono;
    font-weight: 500;
    font-style: normal;
    src: local("JuliaMono"), url("/julia-workshop/assets/JuliaMono/JuliaMono-Medium.woff2") format("woff2");
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: JuliaMono;
    font-weight: 600;
    font-style: normal;
    src: local("JuliaMono"), url("/julia-workshop/assets/JuliaMono/JuliaMono-SemiBold.woff2") format("woff2");
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: JuliaMono;
    font-weight: 700;
    font-style: normal;
    src: local("JuliaMono"), url("/julia-workshop/assets/JuliaMono/JuliaMono-Bold.woff2") format("woff2");
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: JuliaMono;
    font-weight: 800;
    font-style: normal;
    src: local("JuliaMono"), url("/julia-workshop/assets/JuliaMono/JuliaMono-ExtraBold.woff2") format("woff2");
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: JuliaMono;
    font-weight: 900;
    font-style: normal;
    src: local("JuliaMono"), url("/julia-workshop/assets/JuliaMono/JuliaMono-Black.woff2") format("woff2");
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Libertinus Serif";
    font-weight: 400;
    font-style: normal;
    src: local("Libertinus Serif"), url("/julia-workshop/assets/Libertinus/LibertinusSerif-Regular.woff2") format("woff2");
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Libertinus Serif";
    font-weight: 400;
    font-style: italic;
    src: local("Libertinus Serif"), url("/julia-workshop/assets/Libertinus/LibertinusSerif-Italic.woff2") format("woff2");
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Libertinus Serif";
    font-weight: 600;
    font-style: normal;
    src: local("Libertinus Serif"), url("/julia-workshop/assets/Libertinus/LibertinusSerif-Semibold.woff2") format("woff2");
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Libertinus Serif";
    font-weight: 600;
    font-style: italic;
    src: local("Libertinus Serif"), url("/julia-workshop/assets/Libertinus/LibertinusSerif-SemiboldItalic.woff2") format("woff2");
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Libertinus Serif";
    font-weight: 700;
    font-style: normal;
    src: local("Libertinus Serif"), url("/julia-workshop/assets/Libertinus/LibertinusSerif-Bold.woff2") format("woff2");
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Libertinus Serif";
    font-weight: 700;
    font-style: italic;
    src: local("Libertinus Serif"), url("/julia-workshop/assets/Libertinus/LibertinusSerif-BoldItalic.woff2") format("woff2");
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Libertinus Sans";
    font-weight: 400;
    font-style: normal;
    src: local("Libertinus Sans"), url("/julia-workshop/assets/Libertinus/LibertinusSans-Regular.woff2") format("woff2");
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Libertinus Sans";
    font-weight: 400;
    font-style: italic;
    src: local("Libertinus Sans"), url("/julia-workshop/assets/Libertinus/LibertinusSans-Italic.woff2") format("woff2");
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: "Libertinus Sans";
    font-weight: 700;
    font-style: normal;
    src: local("Libertinus Sans"), url("/julia-workshop/assets/Libertinus/LibertinusSans-Bold.woff2") format("woff2");
    text-rendering: optimizeLegibility;
}

:root {
    font-family: "Libertinus Serif", system-ui, serif;
    font-size: 14pt;
}

body {
    background-color: #222;
    color: #efe7e6;
    hyphens: auto;
}

main {
    max-width: 40em;
    margin: auto;
    margin-top: 6rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Libertinus Sans", system-ui, serif;
    font-weight: 400;
}

h3 {
    margin-top: 0;
}

h2 {
    margin-bottom: 0;
    margin-top: 2em;
}

h1 {
    margin-bottom: 0;
}

code, pre {
    font-family: "JuliaMono", monospace;
    font-size: 12pt;
}

code {
    background-color: #333;
    display: inline-block;
}

a {
    color: #efe7e6;
    text-decoration-color: #c0bce5;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
}

p {
    line-height: 1.4;
}

li p {
    margin: 0.2rem 0;
}

/* header */

header {
    position: fixed;
    text-align: center;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: #222;
    box-shadow: 10px 0 5px black;
    z-index: 99;
    display: flex;
    height: 2rem;
    align-items: center;
    justify-content: space-around;
}

header span {
    display: inline-block;
    padding: 0.2rem;
}

/* footer */

footer {
    margin-top: 6rem;
    color: #b2acab;
    text-align: center;
}

footer a {
    color: #b2acab;
}
